{% extends "layout.html" %}

{% block main_page %}

<div class="wrapper">
    <div class="empty_block"></div>
    <div class="info">
        <div class="description">
            <p class="names">Разработка ПО</p>
            <div class="desc">
                <ul class="checkmark">
                    <a href="{{ url_for('main.html_page') }}">
                        <li>HTML</li>
                    </a>
                    <a href="{{ url_for('main.css_page') }}">
                        <li>CSS</li>
                    </a>
                    <a href="{{ url_for('main.python_page') }}">
                        <li>Python</li>
                    </a>
                    <a href="{{ url_for('main.js_page') }}">
                        <li>Java Script</li>
                    </a>
                    <a href="{{ url_for('main.flask_page') }}">
                        <li>Flask</li>
                    </a>
                    <a href="{{ url_for('main.django_page') }}">
                        <li>Django</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

</div>

    

{% endblock main_page %}