<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block title %}

    {% if title %}

    <title>Flask - {{ title }}</title>

    {% else %}

    <title>Flask Blog</title>
    {% endif %}

    {% endblock title %}
</head>

<body>

    <div class="wrapper">

        {% block menu %}

        <header class="header">
            <ul class="main_menu">
                <li><a href="">Главная</a></li>
                <li><a href="">Блог</a></li>
                <li><a href="">Регистрация</a></li>
                <li><a href="">Логин</a></li>
                <li><a href="">Аккаунт</a></li>
                <li><a href="">Создать</a></li>
                <li><a href="">Выход</a></li>
            </ul>
        </header>

        {% endblock menu %}


        {% block content %}

        {% endblock content %}


        {% block main_page %}

        {% endblock main_page %}

        
        {% block footer %}

        {% endblock footer %}

    </div>
</body>

</html>